
.my{
font-family: serif;
color:green;
margin:1rem;
padding:1rem;
font-size: 1.5rem;
box-sizing:border-box;
border-radius:0.5rem;
box-shadow:0 0.0025rem 0.025rem #ccc}
.App{
    font-family: serif;
color:green;
margin:1rem;
font-size: 1.5rem;
padding:1rem;
box-sizing:border-box;
border-radius:1rem;
box-shadow:0 1rem 1rem #ccc
}
.Aaaa{
    align-items: left;
    font-weight: 900;
    font-family: serif;
}